# Dependencies
/node_modules

# Production
/build

# File-file lain
.DS_Store

# File Environment (Sangat Penting untuk Keamanan)
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Abaikan semua yang ada di dalam folder uploads...
/uploads/*

# KECUALI file .gitkeep ini, agar folder tetap ada di GitHub
!/uploads/.gitkeep
!/uploads/profil/.gitkeep
!/uploads/tugas/.gitkeep